html{
	scroll-behavior: smooth;
}

/*###Tablet(medium)###*/
@media screen and (min-width : 768px) and (max-width : 1025px){
/*Style*/
	.youtube-promo{
		width: "div-width";
		height: 190px;

	}
}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 0px) and (max-width : 767px){
/*Style*/
	.youtube-promo{
		width: "device-width";
		height: "div-height";
	}

}

@media screen and (min-width: 1025px) {
/*Style*/
.youtube-promo{
		width: 560px;
		height: 315px;
	}
}